@import "tailwindcss";

@theme {
  --color-toxic-black: #050505;
  --color-toxic-green: #39FF14;
  --color-toxic-red: #FF3131;
  --color-toxic-gray: #1A1A1A;

  --font-family-brutal: "Inter", system-ui, sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --animate-glitch: glitch 0.3s cubic-bezier(.25,.46,.45,.94) both infinite;
}

@keyframes glitch {
  0% { transform: translate(0) }
  20% { transform: translate(-2px, 2px) }
  40% { transform: translate(-2px, -2px) }
  60% { transform: translate(2px, 2px) }
  80% { transform: translate(2px, -2px) }
  100% { transform: translate(0) }
}

:root {
  background-color: #050505;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar personalizada para el estilo tóxico */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #39FF14;
  border-radius: 10px;
}